* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

#screen {
    position: relative;
    display: inline-block;
}

#interface {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#player-interface{
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#enemy-interface{
    position: relative;
    height: 30px;
    width: 100%;
}

#player-health-background {
    background-color: red;
    height: 30px;
    width: 100%;
}

#player-health {
    position: absolute;
    background-color: rgb(92, 92, 228);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#player-health-border {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: solid 3px antiquewhite;
    border-bottom: solid 3px antiquewhite;
    border-left: solid 3px antiquewhite;
}


#enemy-health-background {
    background-color: red;
    height: 30px;
    width: 100%;
}

#enemy-health {
    position: absolute;
    background-color: rgb(92, 92, 228);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#enemy-health-border {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: solid 3px antiquewhite;
    border-bottom: solid 3px antiquewhite;
    border-right: solid 3px antiquewhite;
}


#timer {
    background-color: black;
    color: antiquewhite;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px antiquewhite;
    font-size: 2rem;
}

#game-result{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}